@font-face {
    font-family: 'RobotoSlab';
    src: url('../fonts/RobotoSlab/RobotoSlab-Black.ttf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoSlab';
    src: url('../fonts/RobotoSlab/RobotoSlab-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoSlab';
    src: url('../fonts/RobotoSlab/RobotoSlab-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoSlab';
    src: url('../fonts/RobotoSlab/RobotoSlab-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoSlab';
    src: url('../fonts/RobotoSlab/RobotoSlab-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoSlab';
    src: url('../fonts/RobotoSlab/RobotoSlab-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoSlab';
    src: url('../fonts/RobotoSlab/RobotoSlab-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoSlab';
    src: url('../fonts/RobotoSlab/RobotoSlab-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoSlab';
    src: url('../fonts/RobotoSlab/RobotoSlab-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}