@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    z-index: 1;
}
#root {
    height: 100vh;
    background: #2a2a2a;
}
#bg {
    position: fixed;
    z-index: 0;
    width: 100vw;
    height: 100vh;
}
.font-basic {
    z-index: 1;
}
.header__user-role > svg {
    width: 30px;
    height: 30px;
}
.loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
